* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cirvermelho {
    width: 80px;
    height: 80px;
    background-color: #cc0000;
}

.quaverde {
    width: 80px;
    height: 80px;
    background-color: #6fc03a;
}

.quabranco {
    width: 80px;
    height: 80px;
    background-color: white;
}

.logoif {
    max-width: 350px;
    min-width: none;
}

@keyframes da-esquerda {
    0% {
        transform: translateX(-100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes da-direita {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes do-topo {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes de-baixo {
    0% {
        transform: translateY(100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-da-esquerda {
    animation: da-esquerda 1s ease-out forwards;
}

.animate-da-direita {
    animation: da-direita 1s ease-out forwards;
}

.animate-do-topo {
    animation: do-topo 1s ease-out forwards;
}

.animate-de-baixo {
    animation: de-baixo 1s ease-out forwards;
}

/* ease-out é: animação começa rápida e depois desacelera suavemente no final*/
/* forwards é: mantém o estado final da animação mesmo após ela terminar*/